// glass background
.glass_bg {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.green_glass_bg {
   background: rgba(88, 204, 2, 0.54);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}