@use "styles/colors" as cols;
@use "styles/glass";

:root {
    --white: #fffeff;
    --bright-green: #00ae79;
    --light-green: #58cc02;
    --blue-check: #0e4db8;
    --light-white: rgba(245, 244, 244);
    --border-col: var(--grey);
    --grey: #797978;
    --dark-grey: rgba(255, 255, 255, 0.2);
    --dark-red: rgba(173, 38, 38, 0.664);
}

body {
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--light-white);
}

body::-webkit-scrollbar {
    width: 5px;
    background-color: var(--white);
}

body::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: var(--light-green);
    border-radius: 10px;
}

body::-webkit-scrollbar-button {
    background-color: var(--dark-red);
}

// NAVBAR STYLES
.mobile_links {
    @extend .glass_bg;
}

// HOMEPAGE STYLES.
.job_card {
    @extend .green_glass_bg;
}

// AUTH
.auth_bg {
    position: relative;
    background: url("./assets/auth/find-work.jpg") no-repeat;
    background-position: bottom 0 right 0 ;
    background-size: cover;
}

.auth_bg::before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    inset: 0;
    background-color: #504e4ed5;
}

.auth_shadows {
    box-shadow: 2px 2px 46px 1px #dfdbdb, -2px -2px 46px 1px #dfdbdb;
}

// SIDEBAR STYLES

.sidebar::-webkit-scrollbar {
    width: 2px;
    background-color: var(--grey);
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: var(--light-green);
}

.filter_triggers {
    @extend .green_glass_bg;
}

.sidebar_mobile {
    @extend .glass_bg;
}


// JOB DETAILS
.job_details {
    @extend .glass_bg;
}


// PROFILES
.update_Profile_modals {
    @extend .glass_bg;
}
