@use "styles/_colors" as cols;
@use "styles/glass";

:root {
    --white: #fffeff;
    --bright-green: #00ae79;
    --blue-check: #0e4db8;
    --light-white: rgba(245, 244, 244);
    --border-col: var(--grey);
    --grey: #797978;
}

body {
    height: 100vh;
}

// NAVBAR STYLES
.mobile_links {
    @extend .glass_bg;
}

// SIDEBAR STYLES

.sidebar::-webkit-scrollbar {
    width: 2px;
    background-color: var(--grey);
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: var(--bright-green);
}

.filter_triggers {
    @extend .green_glass_bg;
}

.sidebar_mobile {
    @extend .glass_bg;
}


// JOB DETAILS
.job_details {
    @extend .glass_bg;
}
