@use "styles/_colors" as cols;

:root {
    --white: #fffeff;
    --bright-green: #00ae79;
    --blue-check: #0e4db8;
    --light-white: rgba(245, 244, 244);
    --border-col: var(--grey);
    --grey: #797978;
}

body {
    height: 100vh;
}

// SIDEBAR STYLES

.sidebar::-webkit-scrollbar {
    width: 2px;
    background-color: var(--grey);
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: var(--bright-green);
}


// JOB DETAILS
.job_details {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}