@use "styles/_colors" as cols;

:root {
    --white: #fffeff;
    --bright-green: #00ae79;
    --light-white: rgba(245, 244, 244);
    --border-col: #eeefef;
    --grey: #797978;
}

body {
    height: 100vh;
}